/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour+Convergence&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Applying the custom fonts */
body {
  font-family: 'Titillium Web', sans-serif;
}

/* Add this to your CSS or Tailwind styles */

.slider-container {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  overflow: hidden;
}

/* Add custom styling for the dots if needed */
.slick-dots {
  bottom: 10px !important; /* Adjust this value to control the position of the dots */
}

.slick-dots li button:before {
  color: #4567AD   !important; /* Set the color of the dots */
  font-size: 15px !important; /* Adjust the size if needed */
}

/* CSS for the marquee effect */
.marquee-container {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 7s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(1%);
  }
  to {
    transform: translateX(-100%);
  }
}

